
.user-list h5 ion-icon,
.user-list p ion-icon {
    margin-right: 4px;
    position: relative;
    top: 1px;
}

.title{
    margin-top: 10px;
    color:#2373BB;
    font-size: 20px;
    text-align: center;
}
.ios-hydrated{
    display: flex;
    text-align: center;
    color:#2373BB;
    font-size: 15px;

}